/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version (as of 2021-05-04)
*/

/* Changed a bunch to be responsive, thanks to http://pxtoem.com/ base pixel size of 12px */

html 
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    /* Setting a font that is different than the tutorial, all these are web safe (at least according to https://kinsta.com/blog/web-safe-fonts/) meaning nothing extra is needed. */
    font-family: Calibri, Calmbria, Dejavu Sans, Didot, Franklin Gothic, Georgia, Arial, sans-serif;
}
  
*, *:before, *:after 
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
body 
{
    margin: 0;
    min-height: 100vh;
    background:
      -o-linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
      -o-linear-gradient(315deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
      -o-linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
      -o-linear-gradient(135deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
    background:
      linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
      linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
      linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
      linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

h2 
{
    margin-top: 0;
    padding-top: .8em;
}

nav 
{
    position: relative;
}

.cool > li > a 
{
    color: yellow;
    text-decoration: none;

    /* Responsive font size, it is 1.5 times bigger than the font-size of the parent element */
    font-size: 1.5em;

    background: rgba(0,0,0,0.2);

    /* Padding for top, then right, made responsive */
    padding: 10% 20%;

    display: inline-block;
    
    /* Making margin responsive */
    margin: 1em;

    border-radius: 5px;
}

nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.cool > li 
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.dropdown 
{
    opacity: 0;
    position: absolute;
    overflow: hidden;

    /* Responsive padding, top, and border-radius */
    padding: 1em;
    top: 1em;
    border-radius: 0.5em;

    -webkit-transition: all 0.5s;

    -o-transition: all 0.5s;

    transition: all 0.5s;

    /* Made responsive */
    -webkit-transform: translateY(7em);
        -ms-transform: translateY(7em);
            transform: translateY(7em);

    will-change: opacity;
    display: none;
}

/* when the trigger is entered inside the dropdown then show display */
.trigger-enter .dropdown
{
    display: block;
}

/* want it to transition itself when trigger is done */
.trigger-enter-active .dropdown
{
    opacity: 1;
}
  
.dropdownBackground 
{
    /* Change to responsive, was 100px by 100px */
    width: 1em;
    height: 1em;

    position: absolute;
    background: #fff;

    /* Change to responsive border-radius and box-shadow */
    border-radius: 0.5em;
    -webkit-box-shadow: 0 0.5em 1em rgba(50,50,93,.1), 0 0.938em 2.333em rgba(50,50,93,.15), 0 0.333em 1em rgba(0,0,0,.1);
            box-shadow: 0 0.5em 1em rgba(50,50,93,.1), 0 0.938em 2.333em rgba(50,50,93,.15), 0 0.333em 1em rgba(0,0,0,.1);

    /* this is how long or short it takes for the white background to fully expand to the area needed. */
    -webkit-transition: all 0.3s, opacity 0.1s, -webkit-transform 0.2s;
    transition: all 0.3s, opacity 0.1s, -webkit-transform 0.2s;
    -o-transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transition: all 0.3s, opacity 0.1s, transform 0.2s, -webkit-transform 0.2s;

    -webkit-transform-origin: 50% 0;

        -ms-transform-origin: 50% 0;

            transform-origin: 50% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity:0;
}

.dropdownBackground.open 
{
    opacity: 1;
}

.arrow 
{
    position: absolute;

    /* Set to responsive, was 20px */
    width: 1.667em;
    height: 1.667em;

    display: block;
    background: white;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}

.bio 
{
    /* Changed from it being wide to tall, was 500px */
    min-width: 60%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.7;
}

.bio img 
{
    float: left;

    /* Made responsive, was 20px */
    margin-right: 1.667em;
}

.courses 
{
    /* Made responsive, was 300px */
    min-width: 25em;
}

.courses li 
{
    /* Made responsive, was 10px */
    padding: 0.833em 0;

    display: block;

    /* Made responsive was 1px */
    border-bottom: 0.083em solid rgba(0,0,0,0.2);
}

.dropdown a 
{
    text-decoration: none;
    color: #ffc600;
}

a.button 
{
    background: black;
    display: block;

    /* Made responsive, was 10px */
    padding: 0.833em;

    color: white;

    /* Made responsive, was 10px */
    margin-bottom: 0.833em;
}

  /* If a button has the link of one of these then change the background color to match */

  /* matches twitter(.com) */
  .button[href*=twitter] 
  { 
      background: #019FE9; 
  }

  /* matches github(.com) */
  .button[href*=github] 
  { 
      background: #4078c0; 
  }

  /* matches gjdev(.ca) */
  .button[href*=gjdev] 
  { 
      background: #2A357C; 
  }